version: '3'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NODE_ENV=development
    environment:
      - SERVER_PORT=포트
      - DB_HOST=DB 유저이름
      - DB_PORT=DB 포트번호
      - DB_USERNAME=DB 유저이름
      - DB_PASSWORD=DB 비밀번호
      - DATABASE=DB 스키마 이름
      - JWT_SECRET=yiyb0603
      - ADMIN_ID=yiyb0603
      - SERVER_ADDRESS=서버주소
      - WEB_ADDRESS=웹 주소
    ports:
      - 8080:8080
    depends_on:
      - postgres
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev

  postgres:
    image: postgres:alpine
    restart: always
    environment:
      - POSTGRES_USER=DB 유저이름
      - POSTGRES_PASSWORD=DB 비밀번호
      - POSTGRES_DB=DB스키마 이름
